* text=auto

## regsiter these files to binary
*.fig binary
*.mat binary
*.mdl binary diff merge=mlAutoMerge
*.mdlp binary
*.mex* binary
*.mlapp binary
*.mldatx binary merge=mlAutoMerge
*.mlproj binary
*.mlx binary
*.p binary
*.plprj binary
*.sbproj binary
*.sfx binary
*.sldd binary   merge=mlAutoMerge
*.slreqx binary merge=mlAutoMerge
*.slmx binary merge=mlAutoMerge
*.sltx binary
*.slxc binary
*.slx binary merge=mlAutoMerge
*.slxp binary
## MATLAB Project metadata files use LF line endings
/resources/project/**/*.xml text eol=lf
## Other common binary file types
*.docx binary
*.exe binary
*.jpg binary
*.pdf binary
*.png binary
*.xlsx binary
## Setting in matlab side
#*.sldd diff=matlab
#*.slx diff=matlab
#*.mdl diff=matlab
# LFS storage
*.slx   filter=lfs -text
*.sldd  filter=lfs -text
*.mat   filter=lfs -text
*.mltbx filter=lfs -text
*.xlsx  filter=lfs -text
## Simulink mode enable LFS lock 
*.slx filter=lfs diff=matlab -text lockable
*.mdl filter=lfs diff=matlab -text lockable
##Calibration or data
*.mat filter=lfs  -text lockable
##Data dictionary
*.sldd filter=lfs -text lockable
*.slx filter=lfs diff=lfs merge=lfs -text
